# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Packaging
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
.env
.venv
venv/
ENV/

# Django
*.log
local_settings.py
source/staticfiles/
media/

# Coverage / testing
.coverage
htmlcov/
pytest.cache/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# System
.DS_Store
Thumbs.db

source/media/
source/staticfiles/