{% extends "admin/base_site.html" %}
{% load i18n %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
    {{ media }}
    <script src="{% static 'admin/js/cancel.js' %}" async></script>
{% endblock %}

{% block content %}
<p>{% blocktrans %}This action will trigger a background sync of all Tokkobroker properties. Continue?{% endblocktrans %}</p>
<form method="post" novalidate>
  {% csrf_token %}
  <div class="submit-row">
    <input type="submit" value="{% trans 'Start sync' %}" class="default" name="_sync">
    <a role="button" href="#" class="button cancel-link">{% translate "No, take me back" %}</a>
  </div>
</form>
{% endblock %}
