{% load workflow_extras %}
{% if operation|can_transition:'reinforce' %}
    <a class="icon-button" data-icon="🛠" href="{% url 'operation-reinforce' operation.id %}?next={{ current_url|urlencode }}" title="Reinforce operation">
        <span class="sr-only">Reinforce operation</span>
    </a>
{% endif %}
{% if operation|can_transition:'close' %}
    <a class="icon-button" data-icon="✅" href="{% url 'operation-close' operation.id %}?next={{ current_url|urlencode }}" title="Close operation">
        <span class="sr-only">Close operation</span>
    </a>
{% endif %}
{% if operation|can_transition:'lose' %}
    <a class="icon-button" data-icon="✖" data-variant="danger" href="{% url 'operation-lose' operation.id %}?next={{ current_url|urlencode }}" title="Mark as lost">
        <span class="sr-only">Mark operation as lost</span>
    </a>
{% endif %}
