{% load workflow_extras %}
{% with validation=opportunity.validations.first %}
    {% if validation and show_details_button|default_if_none:True %}
        <a class="icon-button" data-icon="📄" href="{% url 'validation-detail' validation.id %}?next={{ current_url|urlencode }}" title="Open validation">
            <span class="sr-only">Open validation</span>
        </a>
    {% endif %}
{% endwith %}
{% if show_details_button|default_if_none:True %}
    <a class="icon-button" data-icon="🗂" href="{% url 'marketing-publication-detail' opportunity.id %}?next={{ current_url|urlencode }}" title="Marketing publications &amp; revisions">
        <span class="sr-only">Marketing publications</span>
    </a>
{% endif %}
