Django>=4.2,<5.0
dramatiq[rabbitmq]>=1.16
django-dramatiq>=0.11
psycopg[binary]>=3.2
gunicorn>=21.2
watchdog>=4.0
uvicorn[standard]>=0.32
servestatic>=3.1
strawberry-graphql[debug-server]>=0.227
strawberry-graphql-django>=0.32
django-fsm-2>=3.0
django-fsm-log>=3.1
coverage[toml]>=7.6
